form{
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

input{
    width: 200px;
    height: 40px;
}

.button, .button:active{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    background: gray;
}