*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./images/bg_main.png')no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

a, a:hover, a:focus, a:active{
  color: initial;
  text-decoration: none;
  display: block;
}

.container{
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
